@use "variables" as vars;

// hover
@mixin link-hover($height) {
  position: relative;
  padding-bottom: 1px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: $height;
    transition: .5s;
    background-color: vars.$text;
  }

  @media (any-hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }
}
