// colors
$background: var(--color-1);
$primary: var(--color-2);
$secondary: var(--color-3);
$text: var(--color-4);

// block-radius
$block-radius: 20px;

// gaps
$desktop-gap: 24px;
$mobile-gap: 16px;
