// variables-colors
:root {
  --color-1: #f9f1f0;
  --color-2: #fadcd9;
  --color-3: #f8afa6;
  --color-4: #000;
}

// colors
$background: var(--color-1);
$primary: var(--color-2);
$secondary: var(--color-3);
$text: var(--color-4);

// block-radius
$block-radius: 20px;

// gaps
$desktop-gap: 24px;
$mobile-gap: 16px;