// fonts
$font-light: Gilroy-Light, Arial, Helvetica, San Francisco, Roboto, sans-serif;
$font-medium: Gilroy-Medium, Arial, Helvetica, San Francisco, Roboto, sans-serif;
$font-italic: Gilroy-Italic, Arial, Helvetica, San Francisco, Roboto, sans-serif;
$font-bold: Gilroy-Bold, Arial, Helvetica, San Francisco, Roboto, sans-serif;

// colors
$background: #f9f1f0;
$primary: #fadcd9;
$secondary: #f8afa6;
$text: #000;