@use "../../../styles/helpers/variables" as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 24px;
  gap: 40px;
  border-radius: vars.$block-radius;
  background-color: vars.$primary;

  &__logo {
    min-width: min(160px, 100%);
    transition: transform .5s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    line-height: normal;
    text-transform: uppercase;
    color: vars.$text;
  }

  &__title-bold {
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: normal;
    text-transform: uppercase;
    color: vars.$text;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 24px;
    gap: 24px;

    &__nav {
      column-gap: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 12px;

    &__nav {
      justify-content: center;
      gap: 16px;
    }
  }
}
