.slogan {
  flex: 1.55;
  padding: 34px 30px 85px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
  border-radius: $block-radius;
  background-color: $primary;

  &__svg {
    align-self: flex-end;
    width: 119px;
    height: 119px;
  }

  &__text {
    font-family: $font-bold;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(28px, 4vw, 56px);
    line-height: 100%;
    color: $text;
  }

  &__text-italic {
    font-family: $font-light;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(24px, 4vw, 56px);
    line-height: 100%;
    color: $text;
  }
}

@media screen and (max-width: 1140px) {
  .slogan {
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .slogan {
    padding: 24px 24px 34px;

    &__svg {
      width: 80px;
      height: 80px;
    }
  }
}
