.content {
  display: flex;
  gap: $desktop-gap;
}

@media screen and (max-width: 1140px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    gap:  $mobile-gap;
  }
}
