.portrait {
  flex: 1;

  &__img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: $block-radius;
  }
}

@media screen and (max-width: 480px) {
  .portrait__img {
    aspect-ratio: 3 / 2;
  }
}
