.link {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  color: $text;
  @include link-hover(.5px);

  &_work {
    text-transform: none;
    @include link-hover(1.5px);
  }
}
