.root {
  font-family: Gilroy, Arial, Helvetica, San Francisco, Roboto, sans-serif;
  background-color: $background;
  color: $text;
}

.root::-webkit-scrollbar {
  width: 6px;
}
.root::-webkit-scrollbar-track {
  background-color: $primary;
}
.root::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 5px;
}
