@use "../../../styles/helpers/variables" as vars;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: vars.$desktop-gap;
  gap: vars.$desktop-gap;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: vars.$mobile-gap;
    gap: vars.$mobile-gap;
  }
}
