@use "../../../styles/helpers/variables" as vars;

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: min(314px, 100%);
  padding: 32px 24px 46px;
  gap: 85px;
  border-radius: vars.$block-radius;
  background-color: vars.$primary;

  &__svg {
    width: 38px;
    height: 38px;
  }

  &__text {
    width: 100%;
    max-width: 296px;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(18px, 2vw, 20px);
    line-height: 125%;
    color: vars.$text;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 24px;
    gap: 24px;

    &__text {
      max-width: none;
    }
  }
}
