.contact {
  flex: 1;
  min-width: min(314px, 100%);
  padding: 30px 24px 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  border-radius: $block-radius;
  background-color: $secondary;

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 78px;
    width: 100%;
    font-family: $font-light;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 100%;
    color: $text;
  }

  &__svg {
    max-width: 38px;
    width: 100%;
    aspect-ratio: 1;
    transition: transform .5s ease;
  }

  &__title {
    font-family: $font-medium;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(24px, 4vw, 55px);
    line-height: 100%;
    color: $text;
  }
}

.contact:hover .contact__svg {
  transform: scale(1.5);
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 24px;
  }
}
