@use "../../../styles/helpers/variables" as vars;

.intro {
  display: flex;
  flex: 2.06;
  flex-direction: column;
  gap: vars.$desktop-gap;

  &__top {
    display: flex;
    flex: 1;
    gap: vars.$desktop-gap;
  }

  &__bottom {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: vars.$desktop-gap;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    gap: vars.$mobile-gap;

    &__top {
      gap: vars.$mobile-gap;
    }

    &__bottom {
      gap: vars.$mobile-gap;
    }
  }
}

@media screen and (max-width: 480px) {
  .intro__top {
    flex-direction: column;
  }
}
