.intro {
  display: flex;
  flex-direction: column;
  gap: $desktop-gap;

  &__top {
    display: flex;
    gap: $desktop-gap;
  }

  &__bottom {
    display: flex;
    gap: $desktop-gap;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    gap: $mobile-gap;

    &__top {
      flex-direction: column;
      gap: $mobile-gap;
    }

    &__bottom {
      flex-direction: column;
      gap: $mobile-gap;
    }
  }
}
